* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 15px;
  }
  
  div {
    margin: 0;
    padding: 0;
  }
  
  button {
    border: 0.5px solid rgb(221, 225, 226);
    border-radius: 0;
    padding: 20px 30px;
    background: #fff;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .calculator {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  
  .numbers {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .result {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: rgb(185, 189, 190);
    padding: 15px 5px;
    color: #fff;
  }
  
  .result > span {
    font-size: 22px;
  }
  
  .operators > button {
    background: rgb(237, 149, 71);
  }
  
  .operators {
    display: flex;
    flex-direction: column;
  }
  
  .digits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .digits > button:nth-last-child(2) {
    grid-column: 1 / span 2;
  }